pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #ffffff; color: #bcbcbc }
.highlight .c { color: #585858 } /* Comment */
.highlight .k { color: #8fafd7 } /* Keyword */
.highlight .o { color: #8fafd7 } /* Operator */
.highlight .ch { color: #585858 } /* Comment.Hashbang */
.highlight .cm { color: #585858 } /* Comment.Multiline */
.highlight .cp { color: #585858 } /* Comment.Preproc */
.highlight .cpf { color: #585858 } /* Comment.PreprocFile */
.highlight .c1 { color: #585858 } /* Comment.Single */
.highlight .cs { color: #585858 } /* Comment.Special */
.highlight .gp { color: #5f875f } /* Generic.Prompt */
.highlight .kc { color: #ff8700 } /* Keyword.Constant */
.highlight .kd { color: #8fafd7 } /* Keyword.Declaration */
.highlight .kn { color: #5f8787 } /* Keyword.Namespace */
.highlight .kp { color: #8fafd7 } /* Keyword.Pseudo */
.highlight .k-Psuedo { color: #5f87af } /* Keyword.Psuedo */
.highlight .kr { color: #8fafd7 } /* Keyword.Reserved */
.highlight .kt { color: #8fafd7 } /* Keyword.Type */
.highlight .m { color: #ff8700 } /* Literal.Number */
.highlight .s { color: #87af87 } /* Literal.String */
.highlight .nb { color: #8fafd7 } /* Name.Builtin */
.highlight .nc { color: #8787af } /* Name.Class */
.highlight .nd { color: #ffffaf } /* Name.Decorator */
.highlight .nf { color: #ffffaf } /* Name.Function */
.highlight .n-Pseudo { color: #5f87af } /* Name.Pseudo */
.highlight .ow { color: #8fafd7 } /* Operator.Word */
.highlight .w { color: #bcbcbc } /* Text.Whitespace */
.highlight .mb { color: #ff8700 } /* Literal.Number.Bin */
.highlight .mf { color: #ff8700 } /* Literal.Number.Float */
.highlight .mh { color: #ff8700 } /* Literal.Number.Hex */
.highlight .mi { color: #ff8700 } /* Literal.Number.Integer */
.highlight .mo { color: #ff8700 } /* Literal.Number.Oct */
.highlight .sa { color: #87af87 } /* Literal.String.Affix */
.highlight .sb { color: #87af87 } /* Literal.String.Backtick */
.highlight .sc { color: #87af87 } /* Literal.String.Char */
.highlight .dl { color: #87af87 } /* Literal.String.Delimiter */
.highlight .sd { color: #87af87 } /* Literal.String.Doc */
.highlight .s2 { color: #87af87 } /* Literal.String.Double */
.highlight .se { color: #5f875f } /* Literal.String.Escape */
.highlight .sh { color: #87af87 } /* Literal.String.Heredoc */
.highlight .si { color: #5f875f } /* Literal.String.Interpol */
.highlight .sx { color: #87af87 } /* Literal.String.Other */
.highlight .sr { color: #87af87 } /* Literal.String.Regex */
.highlight .s1 { color: #87af87 } /* Literal.String.Single */
.highlight .ss { color: #5f875f } /* Literal.String.Symbol */
.highlight .bp { color: #8fafd7 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #ffffaf } /* Name.Function.Magic */
.highlight .il { color: #ff8700 } /* Literal.Number.Integer.Long */
