pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #a8a19f }
.highlight { background: #f1efee; color: #68615e }
.highlight .c { color: #9c9491 } /* Comment */
.highlight .err { color: #f22c40 } /* Error */
.highlight .k { color: #6666ea } /* Keyword */
.highlight .l { color: #7b9726 } /* Literal */
.highlight .o { color: #3d97b8 } /* Operator */
.highlight .ch { color: #9c9491 } /* Comment.Hashbang */
.highlight .cm { color: #9c9491 } /* Comment.Multiline */
.highlight .cp { color: #c33ff3 } /* Comment.Preproc */
.highlight .cpf { color: #7b9726 } /* Comment.PreprocFile */
.highlight .c1 { color: #9c9491 } /* Comment.Single */
.highlight .cs { color: #9c9491 } /* Comment.Special */
.highlight .kc { color: #6666ea } /* Keyword.Constant */
.highlight .kd { color: #6666ea } /* Keyword.Declaration */
.highlight .kn { color: #6666ea } /* Keyword.Namespace */
.highlight .kp { color: #6666ea } /* Keyword.Pseudo */
.highlight .kr { color: #6666ea } /* Keyword.Reserved */
.highlight .kt { color: #f22c40 } /* Keyword.Type */
.highlight .ld { color: #7b9726 } /* Literal.Date */
.highlight .m { color: #df5320 } /* Literal.Number */
.highlight .s { color: #7b9726 } /* Literal.String */
.highlight .na { color: #407ee7 } /* Name.Attribute */
.highlight .nb { color: #407ee7 } /* Name.Builtin */
.highlight .nc { color: #407ee7 } /* Name.Class */
.highlight .no { color: #df5320 } /* Name.Constant */
.highlight .nd { color: #df5320 } /* Name.Decorator */
.highlight .nf { color: #407ee7 } /* Name.Function */
.highlight .nn { color: #407ee7 } /* Name.Namespace */
.highlight .nt { color: #6666ea } /* Name.Tag */
.highlight .nv { color: #407ee7 } /* Name.Variable */
.highlight .ow { color: #6666ea } /* Operator.Word */
.highlight .w { color: #68615e } /* Text.Whitespace */
.highlight .mb { color: #df5320 } /* Literal.Number.Bin */
.highlight .mf { color: #df5320 } /* Literal.Number.Float */
.highlight .mh { color: #df5320 } /* Literal.Number.Hex */
.highlight .mi { color: #df5320 } /* Literal.Number.Integer */
.highlight .mo { color: #df5320 } /* Literal.Number.Oct */
.highlight .sa { color: #7b9726 } /* Literal.String.Affix */
.highlight .sb { color: #7b9726 } /* Literal.String.Backtick */
.highlight .sc { color: #7b9726 } /* Literal.String.Char */
.highlight .dl { color: #7b9726 } /* Literal.String.Delimiter */
.highlight .sd { color: #7b9726 } /* Literal.String.Doc */
.highlight .s2 { color: #7b9726 } /* Literal.String.Double */
.highlight .se { color: #7b9726 } /* Literal.String.Escape */
.highlight .sh { color: #7b9726 } /* Literal.String.Heredoc */
.highlight .si { color: #c33ff3 } /* Literal.String.Interpol */
.highlight .sx { color: #7b9726 } /* Literal.String.Other */
.highlight .sr { color: #3d97b8 } /* Literal.String.Regex */
.highlight .s1 { color: #7b9726 } /* Literal.String.Single */
.highlight .ss { color: #df5320 } /* Literal.String.Symbol */
.highlight .bp { color: #f22c40 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #407ee7 } /* Name.Function.Magic */
.highlight .vc { color: #407ee7 } /* Name.Variable.Class */
.highlight .vg { color: #407ee7 } /* Name.Variable.Global */
.highlight .vi { color: #f22c40 } /* Name.Variable.Instance */
.highlight .vm { color: #407ee7 } /* Name.Variable.Magic */
.highlight .il { color: #df5320 } /* Literal.Number.Integer.Long */
